
.icon-up-circle:before { content: '\e800'; } /* '' */
.icon-down-circle:before { content: '\e801'; } /* '' */
.icon-user-outline:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-1:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-pinterest-1:before { content: '\f312'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */