.body-album{
	background-color: rgba(0,0,0,0.92);
}

.titulo-album{
	color: rgba(255,255,255,1.00);
	text-shadow: 0 0 32px rgba(251,251,251,1.00);
	width: auto;
	height: auto;
	font-size: 55px;	/*Tamaño del Slogan*/
    margin-bottom: 3%;	/*Espacio en la parte inferior*/
	font-family:'Bree Serif', arial; 
	font-weight:bold;	/*Establecer el grosor del Slogan*/
}
.row1{
	height: 180px;
	text-align:center;
	border-bottom:1px dashed rgba(204,204,204,1.00);	/*lineas*/
	padding: 30px 0 20px 0; margin-bottom:40px;
}
#autor{
	font-size: 22px;
	color: rgba(201,201,201,1.00);
	float: right;
}
.row li{
	box-shadow: 0px 10px 50px 1px rgba(0,0,0,1.00);	/*<offset-x> <offset-y> <blur-radius> <spread-radius> <color de sombra>*/
}